/* Style the header */
.lookup-edit-view .lookup-header{
	display: inline-block;
}

.lookup-edit-view .lookup-header h2:first-child{
	margin: 10px 4px 0 16px;
}

.lookup-edit-view .lookup-header h2{
	display: inline-block;
	font-size: 24px;
	margin: 10px 0 0 0;
	padding: 0;
    font-weight: 200;
}

.lookup-edit-view .controls-holder{
	margin-right: 15px;
}

/* Push the save button a little bit away from the table */
.LookupEditView #save,
.LookupEditView #create{
	float: right;
	margin-right: 15px;
	margin-top: 15px;
}

/* Make the backups list look like a group */
.lookup-edit-view #backup-list{
	margin-left: -1px;
	display: inline-block;
}

.lookup-edit-view #backup-list > a{
	border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* Make sure the table breaks from the form elements above it */
.lookup-edit-view #lookup-table{
	clear: both;
	min-height: 200px;
}

.lookup-edit-view input[type=text]{
	display: block;
	clear:both;
}

/* Give the alert a little more from the form elements in front of it */
.lookup-edit-view .alert{
	margin-left: 32px;
}

/* Style the breadcrumbs link */
.lookup-edit-view .list-link{
	margin-left: 16px;
    margin-bottom: 16px;
}

/* Make sure the controls are the aligned with the other buttons (such as a the save button) */
.lookup-edit-view .btn-primary.pull-right,
.btn-group.pull-right{
	margin-right: 16px
}

/* Style the labels in form control groups */
.lookup-edit-view .top-label{
	display: inline-block;
    vertical-align: top;
}

/* Make sure the controls break according to the inline form style */
.lookup-edit-view .controls{
	display: inline-block;
}

/* Style the controls at the top of the screen */
.lookup-edit-view .top-controls{
	margin-bottom: 16px;
}

/* Style the control labels in the control groups */
.lookup-edit-view .control-label{
	margin-left: 8px;
	margin-top: 10px;
}

/* This makes the alignment work better on Splunk 7.1.0 */
#lookup-name-control-group,
#lookup-app-control-group{
	float: left;
    display: block;
}

#lookup-app-control-group .splunk-choice-input-message{
	display: none;	
}

/* Style the modification time that is shown when editing KV store lookups */
.lookup-edit-view .modification-time-holder{
	padding-right: 18px;
    display: inline-block;
    padding-top: 12px;
}

.lookup-edit-view .modification-time-holder > .mod-time-icon{
	display: inline-block;
	width: 10px;
}

.lookup-edit-view .mod-time-icon > i{
	color: green;
}

/* Make the check-box fit with the other inputs */
.lookup-edit-view #lookup-user-only,
.lookup-edit-view #lookup-replicate{
	display: inline-block;
    vertical-align: top;
    margin-top: 2px;
}

.help-icon{
	margin-top: 12px;
	display: inline-block;
}

/* Tell the dialogs to use an inline-block so that they fit nicely next to other elements */
.lookup-edit-view .info-message,
.lookup-edit-view .warning-message{
	display: inline-block;
    vertical-align: top;
    padding-bottom: 0px;
	margin-bottom: 0px;
}

/* Reinstate the display none if the hide class is set (since the CSS about overrides this) */
.lookup-edit-view .info-message.hide,
.lookup-edit-view .warning-message.hide{
	display: none;
}

/* Style the message telling users to right-click for editing options */
.lookup-edit-view .right-click-help-message{
	padding-left: 16px;
	position: relative;
	/*
    top: 50%;
	transform: translateY(100%);*/
    float: left;
	clear: both;
	padding-top: 10px;
	/*margin-bottom: 12px;*/
}

.lookup-edit-view .right-click-help-message .icon-info-circle{
	margin-right: 4px;
}

/* This styles the name of the lookup (when editing an existing lookup file) */
.lookup-edit-view .lookup-name{
	margin-left: 16px;
	margin-top: 3px;
	display:inline-block;
}

/* Add a little room before the first label so that the name isn't right up against the edge */
.lookup-edit-view .row-fluid > div:first-child > .top-label{
	margin-left: 16px;
}

/* Set the size of the drop-down */
.lookup-edit-view .dropdown-menu{
	margin-top: 2px;
	background-color: white;
	overflow-x: hidden;
	max-height: 200px;
	left: 44%;
}

/* .lookup-edit-view .search-lookup {
	margin-bottom: 0;
} */

/*
 * Fix highlight color on the dropdown button (for reverting to previous versions)
 */
 .lookup-edit-view .btn-group.open .btn-primary.dropdown-toggle {
    background-color: #65a637;
}

.lookup-edit-view .btn-primary.dropdown-toggle:focus {
	border-color: rgba(82,168,236,0.8);
}

/*
 * Style the loading message
 */
.lookup-edit-view .lookup-loading{
	min-height: 300px;
	padding-left: 30px;
	padding-top: 60px;
	margin-right: 16px;
	margin-left: 10px;
	border: 1px solid #ddd;
}

/**
 * Cell renderers
 */
 .lookup-edit-view .jexcel_content td.cellEmpty{
	background: #F8F8F8;
}

.lookup-edit-view .jexcel_content td.cellEmptyHeader{
	/* Pattern from http://www.patternify.com/ */
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAT0lEQVQYV2P8v3nmfwYc4HdPOlyGEZdCZEWsJTMZsCpEVwQyFkMhNkUYCnEpQlGITxFcISFFYIW/7BngwQPyHS4AV4hPEchGsEJCikC2AAAsFDi53F9I+QAAAABJRU5ErkJggg==);
}

.lookup-edit-view .cellNegative{
	color: red;
}

.lookup-edit-view .cellKey{
	color: green;
}

.lookup-edit-view .cellInvalidType{
	/* Pattern from http://www.patternify.com/ */
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAT0lEQVQYV2P8v3nmfwYc4HdPOlyGEZdCZEWsJTMZsCpEVwQyFkMhNkUYCnEpQlGITxFcISFFYIW/7BngwQPyHS4AV4hPEchGsEJCikC2AAAsFDi53F9I+QAAAABJRU5ErkJggg==);
}

.lookup-edit-view .cellPositive{
	color: green;
}

.lookup-edit-view .cellTrue{
	font-style: italic;
	color: green;
}

.lookup-edit-view .cellFalse{
	font-style: italic;
	color: red;
}

.lookup-edit-view .jexcel_content td.cellUrgencyUnknown{
	color: black;
	background-color: #c1d7f0;
}

.lookup-edit-view .jexcel_content td.cellUrgencyInformational{
	color: black;
	background-color: #c1d7f0;
}

.lookup-edit-view .jexcel_content td.cellUrgencyLow{
	color: black;
	background-color: #b5e25d;
}

.lookup-edit-view .jexcel_content td.cellUrgencyMedium{
	color: black;
	background-color: #ffd70d;
}

.lookup-edit-view .jexcel_content td.cellUrgencyHigh{
	color: black;
	background-color: #ff8700;
}

.lookup-edit-view .jexcel_content td.cellUrgencyCritical{
	color: white;
	background-color: #bf1900;
}

.lookup-edit-view .cellHREF{
	color: blue;
	text-decoration: underline;
}

.replicate-control-group-edit{
	margin-right: 10px;
}

.tooltip{
	width: fit-content;
}