.lookup-list-view .dropdown-secondary > .dropdown-toggle{
	border-radius: 0px;
	border: 0px;
	background: transparent !important;
	box-shadow: inset 0 0 0 !important;
	color: #1e93c6;
}

.lookup-list-view .progress{
	width: 400px;
}

.lookup-list-view .type-filter, .app-filter, .scope-filter{
	margin-top: 8px;
	margin-left: 16px;
}

.lookup-list-view .type-filter > .dropdown-menu > li > a, .app-filter > .dropdown-menu > li > a{
   padding-left: 22px;
}

.lookup-list-view .dropdown-menu{
	background-color: white;
}

.lookup-list-view .icon-check.hide{
      display: none;
}

.lookup-list-view .dropdown-secondary > ul{
    max-height: 320px;
    overflow-y: scroll;
}

.lookup-list-view #content{ /* Make sure that the dropdowns have room even if there isn't much content */
	min-height: 360px;
}

.lookup-list-view .search-query{
	margin-top: 8px;
	margin-left: 16px;
}

.lookup-list-view .loading-placeholder{
	margin-left: 64px;
	margin-top: 64px;
}

.lookup-list-view .new-lookup-button-group{
	margin-top: 8px;
	margin-right: 16px;
}

.lookup-list-view #table_wrapper > .row-fluid:first-child{
	display: none;
}

.lookup-list-view #table_wrapper > .row-fluid {
    margin-top: 16px;
    margin-left: 16px;
}

.lookup-list-view #table_wrapper{
	clear: both; /* SOLNESS-7190 */
}

.lookup-list-view #table_paginate{
	float: right;
	margin-right: 32px
}

.lookup-list-view td{
	background-color: white;
}

.lookup-list-view .disable-lookup-info-table,
.lookup-list-view .delete-lookup-info-table{
	margin: 16px 0 8px 8px;
}

.lookup-list-view .disable-lookup-info,
.lookup-list-view .delete-lookup-info{
    font-weight: bold;
    padding-right: 12px;
}

.lookup-list-view .form-search{
	margin-bottom:8px;
}

.lookup-list-view .action-link{
	margin-right: 8px;
	margin-left: 2px;
}

.lookup-list-view .lookups-count{
	padding-top: 13px;
	padding-left: 12px;
}

/*
 * Fix highlight color on the dropdown button
 */
.lookup-list-view .btn-group.open .btn-primary.dropdown-toggle {
    background-color: #65a637;
}

