.arrayValue [data-role="remove"]:after {
    content: "×";
    padding: 0 2px;
}

.arrayValue {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    background-color: #777;
    border: #777;
    text-transform: none;
}

.arrayValue .bootstrap-tagsinput>.label-info {
    text-transform: none;
}

.arrayValue + input {
    min-width: 500px;
}

.arrayValue.label.label-readonly{
    color: white;
    margin-right: 2px;
    margin-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
}