<div tabindex="-1" class="modal fade in hide" id="lookup-transform-modal">
    <div class="modal-header">
        <button type="button" class="close btn-dialog-close" data-dismiss="modal">x</button>
        <h3 class="text-dialog-title">Create Lookup Transform</h3>
    </div>
    <div class="modal-body form modal-body-scrolling">

        <div style="display:none" class="alert alert-warning">
            <i class="icon-alert"></i>
            <span id="message">Transform could not be created</span>
        </div>
        <div class="main-content">
            This lookup doesn't have a transforms.conf entry and needs one in order to be accessible in search.
            <p></p>
            <p></p>
            Enter a name of a transform below.
            
            <div id="transform-name-control-group" class="control-group"></span>
                <div class="top-label">
                    <label class="control-label" for="transform-name">Transform name:</label>
                </div>
                <div class="controls">
                    <div class="input" id="transform-name"></div>
                    <span class="hide help-inline"></span>
                    <span class="help-block"></span>
                </div>
            </div>
        </div>
        <div class="no-fields-content">
            This lookup has no fields defined in collections.conf.
            The fields need to be defined in order for the lookup to be available in search.
            <p></p>
            <p></p>

        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="btn btn-dialog-cancel btn-secondary label_from_data" data-dismiss="modal">Close</a>
        <a href="javascript:void(0)" class="btn btn-primary" id="save-transform">Create Transform</a>
    </div>
</div>